html, body {
    font-family: 'Alatsi', sans-serif;
    margin: 0;
    overflow: hidden;
    color:white;
    background-color: black;
    text-align: center;
  }

  h1 {
      color:white;
  }

  .intro {
    color: white;
    border-width: 0px;
    position: fixed;
    top: 0px;
    left: 40%;
    
  }

  .about {
    color:#d166a4;
    position: fixed;
    bottom: 100px;
    width: 500px;
    background: rgba(255,255,255, 0.8);
    left: 200px;
    
  
  }

  .button {
    background-color: white;
    font-family: 'Alatsi', sans-serif;
    color: black;
    border-width: 0px;
    width: 60px;
    height: 20px;
  }
  
  .buttonpressed {
    background-color: rgb(30, 110, 175);
    font-family: 'Alatsi', sans-serif;
    color: white;
    border-width: 0px;
    width: 60px;
    height: 20px;
  }
  .button:hover {
    background-color: #d166a4;
    color: white;
  }
  
  canvas {
    width: 100%;
   
  }
