html, body {
    font-family: 'Courier New', Arvo, sans-serif;
    margin: 0;
    overflow: hidden;
    color:white;
    background-color: black;
    text-align: center;
  }

  h1 {
      color:white;
  }

  .intro {
    color: white;
    border-width: 0px;
    position: fixed;
    top: 0px;
    left: 40%;
    
  }

  @keyframes float {
    0% {
     
      transform: translatey(0px);
    }
    50% {
      
      transform: translatey(-20px);
    }
    100% {
      
      transform: translatey(0px);
    }
  }

  .about {
    color:#ffffff;
    position: fixed;
    bottom: 200px;
    width: 500px;
    background: rgb(0, 0, 0, 0.7);
    left: 200px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    overflow: hidden;
	  animation: float 6s ease-in-out infinite;
    
  
  }

  .button {
    background-color: white;
    font-family: 'Alatsi', sans-serif;
    color: black;
    border-width: 0px;
    width: 60px;
    height: 20px;
  }
  
  .picture-me {
    transform: translatey(0px);
    border-radius: 30px;
   
  }
  .buttonpressed {
    background-color: rgb(30, 110, 175);
    font-family: 'Alatsi', sans-serif;
    color: white;
    border-width: 0px;
    width: 60px;
    height: 20px;
  }
  .button:hover {
    background-color: #d166a4;
    color: white;
  }
  
  canvas {
    width: 100%;
   
  }
