html, body {
    font-family: 'Alatsi', sans-serif;
    margin: 0;
    overflow: hidden;
    color:white;
    background-color: black;
  }

  h1 {
      color:white;
  }

  .intro {
    color: white;
    background-color: black;
  }
  
  canvas {
    width: 100%;
  }